<html>
  <head>
    <title>vues</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viweport" contents="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    
    <!-- <script src="https://unpkg.com/vue@2"></script> -->
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div id="app">
  <v-app>
    <v-content>
      <h2 class="title">Input text</h2>
      <v-text-field
        v-model="firstname"
        :counter="20"
        label="First Name"
          ></v-text-field>
      <h2 class="title">Radio</h2>
      <v-radio-group v-model="radios" :mandatory="false">
        <v-radio label="radio1" value="radio1"></v-radio>
        <v-radio label="radio2" value="radio2"></v-radio>
        <v-radio label="radio3" value="radio3"></v-radio>
      </v-radio-group>
      
      <h2 class="title">Select</h2>
      <v-select
        v-model="select"
        item-text="label"
        item-value="value"
        :items="items"
        label="select"
      />
    </v-content>
  </v-app>
   
  </div>
   <script src="./ababa.js"></script> 
</body>
</html>
