body{
    min-height:100%;
    background-color:#1e3846;
    color:white;
}
.text-center{
  text-align: center;
}

./* space-bot{ */
/*   margin-bottom: 35px; */
/* } */

/* .space-top{ */
/*   margin-top: 35px; */
/* } */

.container {
    justify-content: center;
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
    -moz-box-align: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    align-items: center;
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    color: white;
}

#RT{
    color:#ffcc00
}
footer{
    text-align:center;
}
.inputG{
    background-color:#14262f;
    color:white;
}
.input{
    background-color:white;
    color:white;
}
