/* @madia screen(min-width:1000px){ */
/*     .container{ */
/*     display:flex; */
/*     align-items:center; */
/*     -webkit-flex-direction: column; */
/* } */
/* } */

body{
    background-color:#1e3846;
    color:white;
}

#RT{
    color:#ffcc00
}
footer{
    text-align:center;
}
.inputG{
    background-color:#14262f;
}
input{
    background-color:white;
    color:black;
    width:70%;
    margin:1%;
}
.btn-rad {
  padding: 7px 20px;
  margin: 1% ;
  border-radius: 30px;
  color: #14262f;
  background-color: #ffcc00;
}

.btn-rad:hover {
    background-color:#c9a206;
}

