<!DOCTYPE html>
<html>
  <head>
    <title>アプリ内再生数推計ツール</title>
    <meta charset="utf-8">
    <!-- <meta name="viweport" contents="width=device-width, initial-scale=1"> -->
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css" >
  </head>
  <body>
    <h1><span id="RT">Radiotalk アプリ内再生数推計ツール</span></h1>
    <div id="app_lv">
      <div id="title">
	トークタイトル:<input type="text" v-model="title" >
      </div>
      <div class="container">
	<div class="ana">
	  <p>累計再生数</p>
	  <input type="number" v-model="pv" >
	</div>
	<div class="ana">
	  <p>累計再生時間</p>
	  <input type="number" v-model="pt_h">時間<br>
	  <input type="number" v-model="pt_m" max="59" >分<br>
	  <input type="number" v-model="pt_s" max="59" >秒
	</div>
	<div class="ana">
	  <p>平均再生率</p>
	  <input type="number" v-model="pa" max="100">
	</div>
	<div class="ana">
	  <p>トーク時間</p>
	  <input type="number" v-model="pb_m" max="12" >分<br>
	  <input type="number" v-model="pb_s" max="59" >秒
	</div>
      </div>
      <button v-on:click="sent_csv">Sent to CSV</button>
      <button v-on:click="dl_csv">DLCSV</button>
      <h2>総再生数{{ pv_arr[1] }}回の内、アプリ内再生数は{{ pv_arr[2] }}回、Webでの再生数は{{ pv_arr[3] }}回</h2>
    </div>
    <script src="./main.js"></script>
    <footer>
      <p>sorce:<a href="https://github.com/Inaka2ASTRAY/Rtalk_analysis2csv">github</a>  2021 ASTRAY</p>
    </footer>
  </body>
</html>
