@media screen and (min-width: 700px) {
    .ana{
	width:25%;
	float: left;
    }
    .container{
	overflow: hidden;
    }
 }
body{
    background-color:#1e3846;
    color:white;
}
#RT{
    color:#ffcc00
}
footer{
    text-align:center;
}
.container{
    background-color:#14262f;
    color:white;
}
 
